# --- Build Directories ---
# C'est ici que CMake génère tout. On ne veut jamais versionner ça.
build/
build_debug/
build_release/
bin/
out/
lib/

# --- CMake Specifics (in case you run cmake in root) ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake
!CMakeLists.txt
!/cmake/*.cmake

# --- C++ Compilation Artifacts ---
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.out
*.app

# --- ImGui Specific ---
# ImGui sauvegarde la position des fenêtres ici. 
# Ça change tout le temps et crée des conflits git inutiles.
imgui.ini

# --- IDE & Editors ---
# VS Code
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.sdf
*.opensdf

# CLion (JetBrains)
.idea/
cmake-build-*/

# XCode
*.xcodeproj
*.xcworkspace
xcuserdata/

# --- OS Specific ---